[Unit]
Description=hostapd for travelrouter AP %i
After=network.target
PartOf=travelrouter.service

[Service]
Type=simple
ExecStart=/usr/sbin/hostapd /etc/travelrouter/generated/hostapd/%i.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
